<main class="pages__container flexColumn">
  <header class="home__header flexRow">
    <H1>Fullstack TODO</H1>
    <button mat-icon-button matSuffix (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </header>
  <section class="todo__input-container" *ngIf="userID">
    <app-todo-form (taskSubmitted)="addTaskToList($event)"></app-todo-form>
  </section>
  <section class="todo__list-container flexColumn">
    <ul class="todo__list flexColumn" *ngIf="listData!.length > 0">
      <li
        *ngFor="let task of listData"
        id="{{ task._id }}"
        class="list__item flexRow"
      >
        <mat-form-field>
          <input
            matInput
            [value]="task.title"
            [readonly]="!task.editable"
            #inputValue
          />
          <button
            mat-icon-button
            matSuffix
            (click)="editItem(task)"
            *ngIf="!task.editable"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            (click)="saveNewTask(task, inputValue.value)"
            *ngIf="task.editable"
          >
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="deleteItem(task)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
      </li>
    </ul>
  </section>
</main>
