.auth__navingation-wrapper {
  align-items: flex-start;
  height: 100%;
  .auth__header-card {
    height: 50%;
    width: 50%;
    background-color: var(--card-bg-color);
    justify-content: space-around;
    border: var(--card-border);
    box-shadow: var(--card-shadow);
    border-radius: 50px;
  }
}
