/* You can add global styles to this file, and also import other style files */

:root {
  --text-on-gradient-color: white;
  --card-bg-color: rgb(70, 70, 150);
  --card-shadow: rgba(50, 50, 93, 0.6) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --card-border: 1.5px solid white;
}
html,
body {
  height: 100%;
}
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pages__container {
  height: 100vh;
}

.form {
  height: fit-content;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 50%;
  padding: 2.5% 0rem;
  border-radius: 50px;
  background-color: var(--card-bg-color);
  border: var(--card-border);
  box-shadow: var(--card-shadow);
}

mat-form-field {
  width: 75%;
  .visibility__toogle-icon {
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 15px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.mat-mdc-snack-bar-container {
  --notification-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --red-notification-bg: rgba(226, 52, 52, 0.85);
  --green-notification-bg: rgb(149, 153, 226);

  --mat-mdc-snack-bar-button-color: var(--text-on-gradient-color);
  --mdc-snackbar-supporting-text-color: var(--text-on-gradient-color);

  &.red-snackbar {
    --mdc-snackbar-container-color: var(--red-notification-bg);
    box-shadow: var(--notification-box-shadow);
  }

  &.green-snackbar {
    --mdc-snackbar-container-color: var(--green-notification-bg);
    box-shadow: var(--notification-box-shadow);
  }
}
